body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #a3beb7;
}

header {
  background-color: #000000;
  color: #f0eded;
  text-align: center;
  padding: 0;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.navbar {
  background-color: #0e0e0e;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #f0f0f0;
}

.comentarios {
  padding: 0;
}

.main {
  background-color: #fff;
  padding: 0;
  width: 60%;
}

.postagem {
  background-color: #f9f7f7;
  padding: 0;
  margin-bottom: 0;
}

.postagem img {
  width: 100%;
}

.side1 {
  background-color: #a3beb7;
  padding: 0;
  width: 20%;
}

.side2 {
  background-color: #a3beb7;
  padding: 0;
  width: 20%;
}

.favoritos {
  padding: 0;
}

footer {
  background-color: #000000;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
  .side1,
  .main,
  .side2 {
    width: 100%;
  }
}
